$theme-primary-color: #000000;
$theme-secondary-color: #003E51;
$theme-danger-color: rgb(155, 0, 0);
$text-primary-color: #4f5b67;
$text-secondary-color: #5e6d7c;
$theme-background-color:#f5f6f8;
$theme-background-dark:#e8e8e8;
$theme-color-tertiary :#D4B895;
$theme-text-color:#707070;
$theme-white:#ffffff;