@import "./../../assets/styles/variables";
.cat_wrap{
    padding: 20px;
    overflow: hidden;
}
.work_tab_wrap{
    padding: 68px;
    background: $theme-background-dark;
}
.product_wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .product_item{
        padding: 15px;
        width: 20%;
    }
}